<div class="poolPage">
<div class="profileSite">
  <div class="profileInfo">
    <h2 id="profileName" data-id="<%= User._id %>"><%= User.username %></h2>
    <div class="yourProfile">
      <img src="<%= User.avatar_name %>" alt="avatar">
      <p>Username:
        <i><%= User.username %></i>
      </p>
      <p>Name:
        <i><%= User.name %> <%= User.lastName %></i>
      </p>
      <p>E-mail:
        <i><%= User.email %></i>
      </p>
    </div>
  </div>
</div>
</div>
