<div class="poolPage">
  <div class="infoPool">
    <h2 id="poolName" data-id="<%= Pool._id %>"><%= Pool.poolAdName %></h2>
    <div class="detailsPool">
      <p>Address:
        <i><%= Pool.address %></i>
      </p>
      <p>Nº Guests:
        <i><%= Pool.numberOfGuests %></i>
      </p>
      <p>Price ($):
        <i><%= Pool.price %></i>
      </p>
      <p>
        <i><%= Pool.startDate %></i>
      </p>
      <p>
        <i><%= Pool.endDate %></i>
      </p>
    </div>
    <div class="picPool">
      <img src="../images/pool.jpg" alt="poolImage" height="200px;">
    </div>
  </div>
  <div class="rulesPool">
    <h3>Rules:</h3>
    <div class="hours">
    <i><%= Pool.openHours %></i>
    <i><%= Pool.closeHours %></i>
    </div>
    <div class="rule">Children allowed?
      <i><%= Pool.children %></i>
    </div>
    <div class="rule">Pets allowed?
      <i><%= Pool.petFriendly %></i>
    </div>
    <div class="rule">Smoking allowed?
      <i><%= Pool.smoke %></i>
    </div>
  </div>
  <div class="buttons">
    <form action="/addRental/" method="GET">
     <button class="rental-button" type="submit">Rent</button>
    </form>
    <form action="/addPool/<%= Pool._id %>/edit" method="GET">
      <button class="edit-button" type="submit">Edit</button>
    </form>
    <form action="/addPool/<%= Pool._id %>/delete" method="POST">
      <button class="delete-button" type="submit">Delete</button>
    </form>
    <p> </p>
    <input type="hidden" id="lat" name="latitude" placeholder="Latitude" value = "<%= Pool.location.coordinates[0] %>">
    <input type="hidden" id="lon" name="longitude" placeholder="Longitude" value = "<%= Pool.location.coordinates[1] %>">
  </div>
</div>


<div id="map"></div>
<script type="text/javascript">
  var myPool = <%- JSON.stringify(Pool) %>;
</script>
<script type="text/javascript" src="/javascripts/show.js"></script>
