<div class="poolPage">
  <div class="infoPool">
    <h2>Update Pool</h2>
    <form action="/addPool/<%= Pool._id %>" class="updatepool" method="post">
      Title: <input type="text" name="poolAdName" value="<%= Pool.poolAdName %>">
      Nº Guests: <input type="text" name="numberOfGuests"  value="<%= Pool.numberOfGuests %>">
      Address: <input type="text" name="address" id="address"  value="<%= Pool.address %>">
      <input type="button" id='geocoder' value='Locate'>
      <br><br>
      <div class="rulesPool">
        <h3>Rules:</h3>
        <div class="rule">
          Children allowed? <input type="checkbox" name="children" value="<%= Pool.children %>">
        </div>
        <div class="rule">
          Pets allowed? <input type="checkbox" name="petFriendly" value="<%= Pool.petFriendly %>">
        </div>
        <div class="rule">
          Smoking allowed? <input type="checkbox" name="smoke" value="<%= Pool.smoke %>">
        </div>
        <input type="hidden" id="lat" name="latitude" placeholder="Latitude">
        <input type="hidden" id="lon" name="longitude" placeholder="Longitude">
        <input type="submit" id="submit" value="Submit">
    </form>
    </div>
  </div>
  <div id="map"></div>
  <script type="text/javascript" src="/javascripts/new.js"></script>
